* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-grow: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  padding: 1rem;
  border: 1px solid black;
}

.nav-links {
  display: flex;
  gap: 1rem;
}
