@import "tailwindcss";

@theme {
  --color-base: oklch(98.7% 0.026 102.212);
  --color-primary: oklch(96.2% 0.059 95.617);
  --color-secondary: oklch(97% 0.001 106.424);
  --color-accent: oklch(27.9% 0.077 45.635);
}

/* a {
  @apply: text-accent underline hover: text-secondary;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-grow: 1;
} 

 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* .box {
  padding: 1rem;
  border: 1px solid black;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.tech-stack-gallery {
  display: flex;
  justify-content: space-around;
}

#hero {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
}  */
